{% extends "base.html" %} 
{% block title %}Account{% endblock %} 

{% block content %}
<section id="top-account-app">
<div class="modal-overlay" @click="closeModal">
<h1>Account info</h1>

    <h3>First name</h3>
    <p>{{ user.first_name }}</p>
    <h3>Email</h3>
    <p>{{ user.email }}</p>
    <h3>Balance</h3>
    {% if user.balance %}
        <p>{{ user.balance }}</p>
    {% else %}
        <p>O-oh. This looks empty</p>
    {% endif%}
        <button @click="showModal = true" @click.stop class="btn btn-primary"> Top up your account</button>
        <div id="myModal" @click.stop class="modal" v-show="showModal">
            <div class="modal-content">
                <span @click="showModal = !showModal" class="close" id="closeBtn">&times;</span>

                <p>Insert amount of coins to add</p>
                <form method="POST" action="/top-account">
                    <input type="text" 
                    class="form-control" id="top_amount" name="top_amount"/>
                   <br>
                    <button type= "submit" id="topaccount" class="btn btn-primary">Pay now</button>
                </form>
            </div>
            
        </div>
    <h3>Date joined</h3>
    <p>{{ user.created_at }}</p>
</div>
</section>

<script 
    src="https://unpkg.com/vue@3/dist/vue.global.js"
    ></script>
<script>

    const top_account_app = Vue.createApp({
        data () {
            return {
                showModal: false,
            }
        },
        methods: {
            closeModal(){
                if (this.showModal == true){
                    this.showModal = false;

                }
        },
        
        },
        delimiters: ['[[',']]'],
    });
    top_account_app.mount('#top-account-app');
    
       
    
</script>

{% endblock %}
