{% extends "base.html" %} 
{% block title %}Admin{% endblock %} 

{% block content %}
<h1>Admin panel</h1>
<section id="admin-app">
    <div class="admin-header" id="admin-header">
        <button class="admin-button" @click="showTab = false">
            Games
        </button>
        <button class="admin-button" @click="showTab = true">
            Players
        </button>
    </div>
    <div v-show="showTab == false" class="admin-games-panel" id="admin-games-panel">
        <div class="admin-add-game" id="admin-add-game">
            <form method="POST" action="/add-game" enctype="multipart/form-data">
                <h2>Add game</h2>
            
                <div class="form-group">
                    <label for="game_name">Game name</label>
                    <input type="text" class="form-control" id="game_name" name="game_name" placeholder="Enter game name" required/>
                </div>
            
                <div class="form-group">
                    <label for="game_status">Status</label>
                    <br>
                    <input type="checkbox" id="activate-game" name="activate_game" @click="activateGame"/> Active
                    <input type="checkbox" id="deactivate-game" name="deactivate_game" @click="deactivateGame"/> Inactive
                <!--<input type="text" class="form-control" id="game_status" name="game_status" placeholder="Enter game status"/>
                -->
                </div>
                <div class="form-group">
                    <label>Add image</label>
                    <br>
                    <input type="file" name="img" id="img" required/>
                </div>
            
                <input type="submit" class="btn btn-primary" value="Upload"/>
            </form>
        </div>
        <div class="admin-all-games" id="admin-all-games">
            <h2>All games</h2>
            <div class="flex-container">
            {% for game in collection%}
        
                <div class="flex-row">
                    <div>{{game.game_name}}</div>
                    <form method="POST" action="/activate-game?gameid={{game.game_id}}">
                        {% if game.game_status == 'active'%}
                        <button type="submit" class="btn btn-danger">Deactivate</button>
                        {% else%}
                        <button type="submit" class="btn btn-primary">Activate</button>
                        {% endif %}
                    </form>
                </div>
            {% endfor%}
            </div>
        </div>
        
        
    </div>

    <div v-show="showTab" class="admin-players-panel" id="admin-players-panel">
        {% for user in users %}
        <div>
            ID: {{user.id}}
            Name: {{user.first_name}}
            Balance: {{user.balance}}
            Joined: {{user.created_at}}
        </div>
        {% endfor %}
    </div>

    </section>

<script 
    src="https://unpkg.com/vue@3/dist/vue.global.js"
    ></script>
<script>

    const admin_app = Vue.createApp({
        data () {
            return {
                showTab: false,
            }
        
        },
        methods: {
            activateGame (){
                document.getElementById("activate-game").checked = true;
                document.getElementById("deactivate-game").checked = false;
            },
            deactivateGame (){
                document.getElementById("activate-game").checked = false;
                document.getElementById("deactivate-game").checked = true;
            },

        },

        delimiters: ['[[',']]'],
    });
    admin_app.mount('#admin-app');
    
       
    
</script>

{% endblock %} 
